@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
</hgroup>
<div>
    <p>
        @Resources.Resource.ResetPassConfText @Html.ActionLink(Resources.Resource.ResetPassConfLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
