@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resource.LockedOutTitle;
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title .</h1>
    <h2 class="text-danger">@Resources.Resource.LockedOutText</h2>
</hgroup>
